/* @font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
} */

:root {
    /* mik-button */
  --custom-hover-bg: red;
  --custom-button-font-size: 0px;
    /* mik icon */
  --mik-icon-custom-color: #000000;
  --mik-icon-custom-indent-left: 3px;
  --mik-icon-custom-indent-top: 3px;
    /* mik stepper */
  --mik-stepper-step-width: 0px;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

body {
    font-family: 'Source Sans Pro', sans-serif;

    --font-family-default: 'Source Sans Pro', sans-serif;

    --primary-color: #1800fc;
    --button-bg-hover-primary: #1800fc87;

    --secondary-color: #00cc00;
    --button-bg-hover-secondary: #00cc008f;

    --tertiary-color: #33caca;
    --button-bg-hover-tertiary: #33caca8a;

    --warning-color: #d4711c;
    --button-bg-hover-warning: #d4711c8f;

    --disabled-color: #cccccc;

    --small-size-width: 80px;
    --small-size-height: 30px;
    --small-size-font-size: 12px;
    --small-size-font-weight: normal;


    --medium-size-width: 90px;
    --medium-size-height: 32px;
    --medium-size-font-size: 14px;
    --medium-size-font-weight: normal;

    --large-size-width: 100px;
    --large-size-height: 34px;
    --large-size-font-size: 14px;
    --large-size-font-weight: normal;

    --xl-size-width: 120px;
    --xl-size-height: 38px;
    --xl-size-font-size: 15px;
    --xl-size-font-weight: normal;

    --xxl-size-width: 140px;
    --xxl-size-height: 42px;
    --xxl-size-font-size: 16px;
    --xxl-size-font-weight: normal;
}

mik-card {
    background-color: green;
}
